 <div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <div style="width: 100%; background-color: rgb(207, 207, 207); border: 1px solid grey;">
                <div id="demo">
                    <input type="text" placeholder="Enter Friend"> 
                    <button 
                        style="background-color: green; border: 1px solid rgb(0, 70, 0); padding: 5px; color: white"
                        onclick="myFunction()">
                        +
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
function myFunction() {
    var input = document.createElement('INPUT');
    input.placeholder = 'Add Friend'
    document.getElementById("demo").append(input)

    var button = document.createElement('BUTTON');
    button.id = 'buttonAdded';
    button.innerHTML = '+';
    button.addEventListener("click", myFunction)
    button.setAttribute("style", "background-color: green; border: 1px solid rgb(0, 70, 0); padding: 5px; color: white");
    document.getElementById("demo").append(button)
}
</script>
